<!doctype html>
<html lang="en">
<head>
    <style>
        *{
            margin: 0;
            padding: 0;
        }


        a{

            font-family: Courier;
            font-size:22px;
            font-weight: bolder;

        }
        a:hover{
            font-size: 24px;
            text-decoration: none;
        }

        body h4{
            color: #1b1e21;
        }
    </style>
</head>
  <body>


   {% include 'header_login.html' %}
   <h4>Welcome,</h4>
         <font color="#1a75ff" style="font-size: 25px; font-family: Courier; font-weight: bolder;">{{request.session.user_name}}</font>
     
   <br>
   <br>

<div align="center">
    <a href="/registercar">Get Your car Registered !</a>
            <br><br>
    <a href="/updateuserdetails">Update your details</a>
            <br><br>
    <a href="/updatecardetails">Update your car details</a>
            <br><br>
    <a href="/deleteaccount">Delete your account</a>
            <br><br>
</div>
    {% include 'footer.html' %}

   </body>
</html>